body{
  background-color:aliceblue;
}
#clock {
  width: 400px;
  height: 400px;
  margin: 20px auto;
  border: 10px solid black;
  border-radius: 50%;
  position: relative;

}

#seconds {
  width: 4px;
  height: 180px;
  background-color: gray;
  margin-left: 198px;
  margin-top: 20px;
}

#minutes {
  width: 6px;
  height: 140px;
  background-color: darkslategray;
  margin-left: 198px;
  margin-top: 20px;
}

#hours {
  width: 8px;
  height: 120px;
  background-color: black;
  margin-left: 196px;
  margin-top: 80px;
 
}

