body {
  background-color: aliceblue;
}

#clock {
  width: 400px;
  height: 400px;
  margin: 20px auto;
  border: 10px solid black;
  border-radius: 50%;
  position: relative;
}

#seconds {
  width: 4px;
  height: 180px;
  background-color: gray;
  margin-left: 200px;
  margin-top: 20px;
  /*60s*/
  animation: rotate 60s infinite linear;
  transform-origin: 0px bottom;
}

#minutes {
  width: 6px;
  height: 140px;
  background-color: darkslategray;
  margin-left: 200px;
  margin-top: -135px;
  /* 60s * 60m */
  animation: rotate 3600s infinite linear;
  transform-origin: 0px bottom;
}

#hours {
  width: 8px;
  height: 120px;
  background-color: black;
  margin-left: 200px;
  margin-top: -125px;
  /* 60s * 60m * 12h*/
  animation: rotate 43200s infinite linear;
  transform-origin: 0px bottom;
}

#punto {
  height: 25px;
  width: 25px;
  margin-left: 192px;
  margin-top: -45px;
  background-color: #bbb;
  border-radius: 50%;
  position: relative;
}

#time_9 {
  margin-left: 10px;
  margin-top: -35px;
}

#time_3 {
  margin-left: 370px;
  margin-top: -210px;
}

#time_6 {
  margin-left: 195px;
  margin-top: 340px;
}

#time_12 {
  margin-left: 190px;
  margin-top: -190px;
}

@keyframes rotate {
  100% {
    transform: rotateZ(360deg);
  }
}